spring:
  datasource:
    url: jdbc:postgresql://${MY_POSTGRES_HOST:localhost}:15432/docker_auth
    driver-class-name: org.postgresql.Driver
    username: ${USERNAME_POSTGRES}
    password: ${PASSWORD_POSTGRES}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    baseline-on-migrate: true
    enabled: true
    #user: ${USERNAME_POSTGRES}
    #password: ${PASSWORD_POSTGRES}
    baseline-description: "init"
    baseline-version: 0