<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>

<p>Вы действительно хотите удалить пользователя <span th:text="${appUser.getUsername()}"></span></p>

<form th:method="DELETE" th:action="@{/html/{id}(id=${appUser.getId()})}">
    <input type="submit" value="Да"/>
</form>

<form th:method="GET" th:action="@{/html/{id}(id=${appUser.getId()})}">
    <input type="submit" value="Нет">
</form>
</body>
</html>